.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.title-center {
  flex: 1 1 auto;
  text-align: center;
}

.invalidTB {
  background-color: lightpink;
  border: 2px solid red;
  border-radius: 4px;    
}
.invalidLabel {
  color: red;
  font-weight: bold;
  font-variant: small-caps;  
}