.container{
  position: inherit;
  height: 100%;
  display: inherit;
  transform: inherit;
}

.admin-menu{
  padding: 20px;
}

.category-menu{
  padding: 20px;
}

.user-greeting{
  padding: 16px;
}

.position-fixed{
  position: fixed;
  z-index:999;
  background-color: white;
}

.app-search-container{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.fill-space{
  flex: 1 1 auto;
}
